In [49]:
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [4]:
data = pd.read_excel('C:\Users\Love Byiringiro\Desktop\MusicProject\files\musicdata.xlsx')

In [54]:
print(data.columns)
data

Index(['S/N', 'AGE ', 'GENDER', 'DISTRICT NUMBER', 'DISTRICT NAME', 'ARTIST '], dtype='object')

     S/N  AGE   GENDER  DISTRICT NUMBER DISTRICT NAME        ARTIST
0      1    12       1               21   Nyarugenge        Bushali
1      2    13       1               21   Nyarugenge        Bushali
2      3    14       1               21   Nyarugenge        Bushali
3      4    15       0               21   Nyarugenge        Bushali
4      5    16       0               21   Nyarugenge        Bushali
..   ...   ...     ...              ...           ...            ...
142  143    56       0               23        Gasabo  Bruce Melodie
143  144    57       0               23        Gasabo  Bruce Melodie
144  145    58       1               23        Gasabo  Bruce Melodie
145  146    59       1               23        Gasabo  Bruce Melodie
146  147    60       1               23        Gasabo  Bruce Melodie

[147 rows x 6 columns]

In [73]:
X = data.drop(columns=['S/N','DISTRICT NAME','ARTIST '])

y = data['ARTIST ']

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Data Splitted successfully!!!")

Data Splitted successfully!!!

In [74]:
# Create the 3 models

decisionTreeModel = DecisionTreeClassifier()
svmModel = SVC(kernel='linear')
randomForestModel = RandomForestClassifier(n_estimators=100)
logisticRegressionModel = LogisticRegression()

In [76]:
# Fitting the models
decisionTreeModel.fit(X_train, y_train)
svmModel.fit(X_train, y_train)
randomForestModel.fit(X_train, y_train)
logisticRegressionModel.fit(X_train, y_train)

print("Models fitted succesfully!!!")

Models fitted succesfully!!!

/home/ezechielwill/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [90]:
# Predict
DTpred = decisionTreeModel.predict(X_test)
svmPred = svmModel.predict(X_test)
RFpred = randomForestModel.predict(X_test)
LRpred = logisticRegressionModel.predict(X_test)

# boy = [[40, 0, 21]]
# DTpred = decisionTreeModel.predict(boy)


# print(DTpred[0])

# check accuracy
scoreDT = accuracy_score(y_test, DTpred)
scoreSvm = accuracy_score(y_test, svmPred)
scoreRF = accuracy_score(y_test, RFpred)
scoreLR = accuracy_score(y_test, LRpred)

print("The accuracy Decision Tree: ", scoreDT*100," %")
print("The accuracy Support Vector M: ", scoreSvm*100, " %")
print("The accuracy Random Forest: ", scoreRF*100, " %")
print("The accuracy Logistic Reg.: ", scoreLR*100, " %")

The accuracy Decision Tree:  95.55555555555556  %
The accuracy Support Vector M:  95.55555555555556  %
The accuracy Random Forest:  95.55555555555556  %
The accuracy Logistic Reg.:  35.55555555555556  %

In [68]:
import joblib

joblib.dump(decisionTreeModel, 'Decision.joblib')
joblib.dump(svmModel, 'svm.joblib')
joblib.dump(randomForestModel, 'randomForest.joblib')
joblib.dump(logisticRegressionModel, 'logistic.joblib')
print("Models saved successfully")

     AGE   GENDER  DISTRICT NUMBER
135    49       0               23
3      15       0               21
104    18       1               23
57     20       1               22
70     33       0               22
54     17       0               22
106    20       1               23
132    46       0               23
103    17       0               23
121    35       1               23
97     60       1               22
107    21       0               23
48     60       1               21
122    36       1               23
1      13       1               21
36     48       0               21
120    34       1               23
21     33       0               21
65     28       1               22
31     43       0               21
88     51       1               22
73     36       1               22
142    56       0               23
85     48       0               22
131    45       0               23
125    39       0               23
116    30       0               23
84     47       0               22
16     28       1               21
39     51       0               21
41     53       1               21
126    40       0               23
32     44       1               21
78     41       0               22
92     55       0               22
130    44       1               23
100    14       0               23
146    60       1               23
68     31       0               22
83     46       0               22
69     32       0               22
38     50       0               21
140    54       0               23
22     34       0               21
91     54       0               22